<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Advertise</title>
    <style>
        body {
            background: #272822;
            font-family: "Roboto", sans-serif;
            color: white;
            text-align: center;
        }

        a {
            display: inline-block;
        }
    </style>
</head>
<body>
<h1>Cars</h1>
<form action="#" method="post" th:action="@{/save}" th:object="${AddCarForm}">
    <p>Brand: <input type="text" th:field="*{brand}"/></p>
    <p th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}">brand name errors</p>

    <p>Model: <input type="text" th:field="*{model}"/></p>
    <p th:if="${#fields.hasErrors('model')}" th:errors="*{model}">Model errors</p>

    <!--temporary-->
    <p>Fuel Type:
        <select th:field="*{fuel}">
            <option th:value="'petrol'" th:text="Petrol"></option>
            <option th:value="'diesel'" th:text="Diesel"></option>
            <option th:value="'lpg'" th:text="LPG"></option>
            <option th:value="'cng'" th:text="CNG"></option>
            <option th:value="'electric'" th:text="Electric"></option>
            <option th:value="'hybrid'" th:text="Hybrid"></option>
            <option th:value="'other'" th:text="Other"></option>
        </select>
    </p>
    <p th:if="${#fields.hasErrors('fuel')}" th:errors="*{fuel}">Fuel errors</p>

    <p>Engine size: <input type="text" th:field="*{engineSize}" /></p>
    <p th:if="${#fields.hasErrors('engineSize')}" th:errors="*{engineSize}">Engine size errors</p>

    <p>Mileage: <input type="text" th:field="*{mileage}" /></p>
    <p th:if="${#fields.hasErrors('mileage')}" th:errors="*{mileage}">Mileage errors</p>

    <p>Price: <input type="text" th:field="*{price}" /></p>
    <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price errors</p>

    <input type="submit" value="Add advertise"/>
</form>

<!--<a th:href="@{/save}">Add car</a>-->
<!--<input type="submit" value="Add advertise"/>-->
<input type="button" th:href="@{/show}" value="Show"/>
</body>
</html>