<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <style>
        body {
            background: #272822;
            font-family: "Roboto", sans-serif;
            color: white;
            text-align: center;
        }

        a {
            display: inline-block;
        }
    </style>
</head>
<body>
<h1>Cars</h1>
<a th:href="@{/add}">Add userCar</a>
<a th:href="@{/signin}">Sign in</a>
<a th:href="@{/signup}">Sign up</a>
<a th:href="@{/advertise}">Advertise</a>
</body>
</html>