<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
</head>
<body>
<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <style>
        body {
            background: #272822;
            font-family: "Roboto", sans-serif;
            color: white;
            text-align: center;
        }

        form {
            display: inline-block;
        }
    </style>
</head>
<body>
<h1>Sign up</h1>
<form action="#" method="post" th:action="@{/signin}" th:object="${SignInForm}">
    <p>User name: <input type="text" th:field="*{username}"/></p>
    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username name errors</p>

    <p>Password: <input type="password" th:field="*{password}"/></p>
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password errors</p>

    <input type="submit" value="Sign Up"/>
</form>
</body>
</html>
</body>
</html>